doctype strict
html(xmlns='http://www.w3.org/1999/xhtml')
  head
      meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
      meta(name='viewport', content='width=device-width')
      title #{ data.global.title }
      link(href='css/reset.css', rel='stylesheet', type='text/css')
      link(href='css/core.css', rel='stylesheet', type='text/css')
      link(href='css/mobile.css', rel='stylesheet', type='text/css')
      include helperFunctions
  body(topmargin='0', leftmargin='0', bgcolor='#FFFFFF', marginheight='0', marginwidth='0')
    div#bg
      | <!--[if mso]> <style type='text/css'>p,span,div,h1,h2,h3,table,tr,td{ mso-line-height-rule: exactly; }</style> <![endif]-->
      table#header-content.container-table(align='center', cellpadding='0', cellspacing='0', width='600')
        tbody
          tr
            td(colspan='2', width='600')
              table(border='0', cellpadding='0', cellspacing='0', width='600')
                tbody
                  tr.top-links
                    include header/top-links
          tr#billboard(bgcolor='#F0F0F0')
            td(colspan='2', width='600')
              a(href="https://www.dfwworld.org", target="_blank", title='dfwworld.org')
                img(src='https://www.dfwworld.org/image/EC_header_2014.jpg', alt='dfwworld.org eConnection', style='border-width: 0;', height='120', width='600')
          tr#weblinks(bgcolor='#083A81')
            td(colspan='2', width='600')
              include nav/weblinks
          tr.social(bgcolor='#f0f0f0', height='40')
            td(align='center', width='300', height='40')
              include header/social
            td(align='center', width='300', height='40')
              h2#date #{ dateFormatter(today, 'M Y') }
      table#featured.container-table(align='center', cellpadding='0', cellspacing='0', width='600',bgcolor='#000000')
        tbody
          tr.main-content
            td.full
              a(href="#{ data.featured.events[0].url }", target="_blank")
                img(src='https://www.dfwworld.org/image/#{ data.featured.img.url }', style='border-width: 0;', height='#{ data.featured.img.height }', width='#{ data.featured.img.width }')
          tr.main-content(bgcolor='#222222')
            td.caption
              include callouts/featured-caption

      table.container-table(align='center', cellpadding='0', cellspacing='0', width='600')
        tbody
          tr.main-content(bgcolor='#E6E7E4')
            td.forward
              table(cellpadding='0', cellspacing='0', width='600')
                tbody
                  tr
                    td#main-intro-text(valign='top', width='310')
                      include intro
                    td#table-of-contents(valign='top', width='240')
                      include toc
      - var count = 0;
      - each story in data.stories
        - var alphaNumericOnlyStr = story.title.replace(/\&mdash\;|\&|\,|\;|\!|\'|\"|\./g,'');
        - var imgURL = story.img ? story.img : baseURL + 'image/EC_' + camelize(alphaNumericOnlyStr.toLowerCase()) + '.jpg';
        - count = count + 1;
        case story.layout
          when "center"
            table.container-table(align='center', cellpadding='0', cellspacing='0', width='600')
              tbody
                tr(height='10px')
                  td &nbsp;
            table.container-table(align='center', cellpadding='0', cellspacing='0', width='600')
              tbody
                include callouts/center
          when "right"
            table.container-table(align='center', cellpadding='0', cellspacing='0', width='600')
              tbody
                tr(height='10px')
                  td &nbsp;
            table.container-table(align='center', cellpadding='0', cellspacing='0', width='600')
              tbody
                include callouts/right
          when "graphic"
            table.container-table(align='center', cellpadding='0', cellspacing='0', width='600')
              tbody
                tr(height='10px')
                  td &nbsp;
            table.container-table(align='center', cellpadding='0', cellspacing='0', width='600')
              tbody
                include callouts/graphic
          when "left"
            table.container-table(align='center', cellpadding='0', cellspacing='0', width='600')
              tbody
                tr(height='10px')
                  td &nbsp;
            table.container-table(align='center', cellpadding='0', cellspacing='0', width='600')
              tbody
                include callouts/left
          when "float-left"
            table.container-table(align='center', cellpadding='0', cellspacing='0', width='600')
              tbody
                tr(height='10px')
                  td &nbsp;
            table.container-table(align='center', cellpadding='0', cellspacing='0', width='600')
              tbody
                - var alignment = 'left'
                include callouts/float
          when "float-right"
            table.container-table(align='center', cellpadding='0', cellspacing='0', width='600')
              tbody
                tr(height='10px')
                  td &nbsp;
            table.container-table(align='center', cellpadding='0', cellspacing='0', width='600')
              tbody
                - var alignment = 'right'
                include callouts/float
      table.container-table(align='center', cellpadding='0', cellspacing='0', width='600')
        tbody
          tr(height='10px')
            td &nbsp;
      table#upcoming.container-table(align='center', cellpadding='0', cellspacing='0', width='600')
        tbody
          include upcoming
      table.container-table(align='center', cellpadding='0', cellspacing='0', width='600')
        tbody
          tr(height='10px')
            td &nbsp;
      table#footer.container-table(align='center', cellpadding='0', cellspacing='0', width='600')
        tbody
          tr.top-links
            include header/top-links
